#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 300px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  margin: 0;
}

.primary-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.primary-btn:hover {
  background-color: #535bf2;
}

.hint {
  font-size: 0.8em;
  color: #888;
}